@import "null.css";  
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);
body{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #424551;
}
.header-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
}
.main-text-700 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
	color: #1E212C;
}
.main-text,
.main-list li,
.footer-text{
	line-height: 1.6;
}
