/*нудно добавить до подключонного шрифта с гугла &display=swap */
/* добавление шрифта
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} */
@import "null.css"; 
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:400 &display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:600italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400display=swap");

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroy/Gilroy-LightItalic.woff2") format("woff2"),url("../fonts/gilroy/Gilroy-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/proximanova/ProximaNova-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "AnotherDanger";
	src: url("../fonts/anotherdangerslanted/AnotherDangerSlantedRUSBYL.woff2") format("woff2"), url("../fonts/anotherdangerslanted/AnotherDangerSlantedRUSBYL.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
body{
	font-size: 18px;
	font-family: Arial, sans-serif;
}
img{
	max-width: 100%;
}
h1,
h2{
	text-align: center;
	color: darkblue;
}
h1{
	line-height: 3;
	text-transform: uppercase;
}
h2{
	font-size: 32px;
	letter-spacing: 5px;
	line-height: 2.5;
	font-weight: 700;
}
.header-title {
	font-size: 40px;
	font-weight: 900;
}
.header-text {
	text-align: justify;
	font-size: 22px;
	line-height: 1.3;
}
.header-list li{
	text-align: right;
	line-height: 1.5;
}
.header-list li a{
	font-size: 24px;
	text-decoration: underline;
	font-style: oblique;
	font-weight: 700;
}
.header-link{
	color: red;
}
.main p{
	line-height: 1.5;
	text-align: justify;
	text-indent: 20px;
}
.main-playfair {
	font-family: "Playfair Display", sans-serif;
}
.main-playfair span{
	text-decoration: underline;
}
.main-playfair mark{
	color: green;
}
.main-bebas {
	font-family: "Bebas Neue", sans-serif;
}
/* не смог найти этот шрифт */
.main-druk{
	font-family: "Druk Wide", monospace;
}
.main-cinzel {
	font-family: "Cinzel", sans-serif;
	font-weight: 600;
}
.main-gilroy {
	font-family: "Gilroy", cursive;

}
.main-montserrat {
	font-family: "Montserrat", sans-serif;
}
.main-proxima {
	font-family: "Proxima Nova", sans-serif;
}
.main-pt-sans {
	font-family: "PT", sans-serif;
}
.main-work-sans {
	font-family: "Work Sans", sans-serif;
}
.main-lato {
	font-family: "Lato", sans-serif;
}
.footer p{
	font-family: "AnotherDanger", fantasy;
	text-shadow: 5px 8px 10px #440207, 3px 0 2px #585858;
	line-height: 7;
	text-align: center;
	font-size: 40px;
	text-transform: lowercase;
	letter-spacing: 3px;
	color: black
}
.footer div{
	text-align: center;
}
.footer-link{
	font-size: 28px;
	line-height: 15;
	text-decoration: line-through;
}


